<a href="https://colab.research.google.com/github/bainro/misc/blob/main/psych_119_primer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Welcome to Google Collaboratory (i.e. Colab) Notebooks! You're reading a text cell right now. You can make a new text cell with the "+ Text" button near the top left. Below this is a code cell. You can run it by clicking the play/arrow button that appears when you hover over it. The resulting output will show up below the cell. You can also run all the cells from top to bottom using the "Runtime" dropdown at the top of the page (near File, Edit, etc).

In [2]:
print("hello world")

hello world

We can download python modules much like you would on your own computer, but we must proceed "pip install X" with the "%" symbol. This causes jupyter notebook style editors to treat your code as something to be run by your operating system (eg Windows, Mac OS, Linux, etc) instead of treating by python, which is the default behavior.

In [3]:
%pip install numpy
%pip install pandas

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.23.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

Now that we've downloaded numpy and pandas onto the operating system, all we have to do now to use them is run an import command in python, like so:

In [4]:
import numpy as np

Note that I renamed numpy as 'np'. Let's look at a super simple use case:

In [7]:
# <-- this character allows us to write comments!
# Comments are great for code documentation and are ignored by python otherwise

# Here we are creating a list of numbers, which numpy calls an array:
numpy_test_array = np.array([1, 2, 3, 4, 5])
# let's look at the 2nd element of this array. Note that python starts counting at 0!
print("numpy_test_array's 2nd element:", numpy_test_array[1])

numpy_test_array's 2nd element: 2

Let's learn some basics of the pandas python module, while also becoming familiar with the tools provided in colab.

First, open the 'Files' panel on the left side of the screen. It has a folder shaped icon, and is different from the 'File' dropdown at the top of the screen.

With the 'Files' panel open, you should see some sample data is already provided. We will open the 'california_housing_test.csv' file using pandas below, but you can also double click it in this panel to open another panel on the right to view it.

In [23]:
# Renaming with 'as pd' is optional. It is personal preference, as it only saves space.
import pandas as pd

# load the sample_data csv file into a pandas DataFrame object:
pandas_test_array = pd.read_csv('sample_data/california_housing_test.csv')
print("pandas_test_array's data type:", type(pandas_test_array))
print("pandas_test_array:", pandas_test_array)

pandas_test_array's data type: <class 'pandas.core.frame.DataFrame'>
pandas_test_array:       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

Using this same menu you can upload your own data, connect this notebook to your google drive, or download data you create to your local computer. This latter step might sometimes be necessary for uploading your assignments to canvas, alongside your notebook file which can be downloaded as an .ipynb file from the 'File' dropdown menu at the top.

Let's see if we can find the location of the highest priced houses in this csv file:

In [29]:
max_median_house_value = pandas_test_array['median_house_value'].max()
max_index = pandas_test_array['median_house_value'].idxmax()
print("The most expensive median house price is: ")
print(max_median_house_value)
print("This max value was in row number: ")
print(max_index)

The most expensive median house price is:
500001.0
This max value was in row number:
42

Now that we've found the row with the most expensive houses, let's use it to get the latitude and longitude data:

In [38]:
latitude = pandas_test_array['latitude'][max_index]
print("latitude: ")
print(latitude)

longitude = pandas_test_array['longitude'][max_index]
print("longitude: ")
print(longitude)

latitude:
34.15
longitude:
-118.06

Hey, that's pretty close to us here in Irvine! 😯 but this data must be pretty old if the median house price is only $500,000 ...

### Notebook created by Robert Bain
[website](https://rkbain.com)
<br/>
<img src="https://rkbain.com/images/selfie.jpg" width="100" />
<br/>